#### Write a fn that orders an array of numbers from least to greatest

1. Initialize sorted array with arr[0]
2. Get next number in input array, set to i
3. Get last number in sorted array, set to j
4. if i >= j then append i to sorted array
5. else

In [1]:



# sort input array from least to greatest values
def arr_sort(arr):
    
    #initialize array for fn to return
    arr_s=[]
    
    #find min value in array and remove it from array. Return min value.
    def yank_min(arr):
        for i in range(len(arr)):
            if i == 0:
                i_min = arr[i]
            else:
                a = i_min
                b = arr[i]
                if b < a:
                    i_min = b

        return arr.pop(arr.index(i_min))

    #go through input array, find min value, remove it, then append that value to sorted array
    for i in range(len(arr)):
        arr_s.append(yank_min(arr))
    return arr_s

In [2]:
#example:

arr = [5,4,1,-5,0,0,-5,2,3]

new_array = arr_sort(arr)
print(new_array)

[-5, -5, 0, 0, 1, 2, 3, 4, 5]

#### Create a function that returns true iff string is a palindrome

In [3]:
mystring = 'abccba'
for each_letter in mystring:
    print(each_letter)

a
b
c
c
b
a

In [4]:
string_r = "".join(reversed(mystring))
print(string_r==mystring)

True

In [6]:
print(reversed(mystring))

<reversed object at 0x000001F0426DD130>

In [7]:
print(string_r)

abccba

Write a function **complete_address** to create a single dataframe with complete addresses in the format of street, city, state, zipcode.

#### Input:

import pandas as pd

addresses = {"address": ["4860 Sunset Boulevard, San Francisco, 94105", "3055 Paradise Lane, Salt Lake City, 84103", "682 Main Street, Detroit, 48204", "9001 Cascade Road, Kansas City, 64102", "5853 Leon Street, Tampa, 33605"]}

cities = {"city": ["Salt Lake City", "Kansas City", "Detroit", "Tampa", "San Francisco"], "state": ["Utah", "Missouri", "Michigan", "Florida", "California"]}

df_addresses = pd.DataFrame(addresses)
df_cities = pd.DataFrame(cities)


#### Output:

def complete_address(df_addresses,df_cities) ->

address
4860 Sunset Boulevard, San Francisco, California, 94105
3055 Paradise Lane, Salt Lake City, Utah, 84103
682 Main Street, Detroit, Michigan, 48204
9001 Cascade Road, Kansas City, Missouri, 64102
5853 Leon Street, Tampa, Florida, 33605

In [53]:
import pandas as pd

addresses = {"address": ["4860 Sunset Boulevard, San Francisco, 94105", "3055 Paradise Lane, Salt Lake City, 84103", "682 Main Street, Detroit, 48204", "9001 Cascade Road, Kansas City, 64102", "5853 Leon Street, Tampa, 33605"]}

cities = {"city": ["Salt Lake City", "Kansas City", "Detroit", "Tampa", "San Francisco"], "state": ["Utah", "Missouri", "Michigan", "Florida", "California"]}

df_addresses = pd.DataFrame(addresses)
df_cities = pd.DataFrame(cities)

In [54]:
def complete_address(df_addresses,df_cities):
    # 1. break up address field by commas
    df_addresses[['street', 'city', 'zip']] = df_addresses.address.str.split(", ",expand=True)
    
    # 2. join input dataframes on city
    df_complete = df_addresses.merge(df_cities, on='city')
    
    #3. Create new df with only columns needed in proper order
    address_cols = ['street', 'city','state','zip']
    df_c = df_complete[address_cols]
    
    # 4. concatenate individual fields into single comma separated field
    df_c['address'] = df_c[address_cols].apply(lambda row: ', '.join(row.values.astype(str)), axis='columns')
    
    #5. drop unneeded columns
    df_c.drop(labels=address_cols, axis='columns', inplace=True)
    
    # finally, return df
    return df_c

In [55]:
df = complete_address(df_addresses, df_cities)

In [56]:
df.head()

                                             address
0  4860 Sunset Boulevard, San Francisco, Californ...
1    3055 Paradise Lane, Salt Lake City, Utah, 84103
2          682 Main Street, Detroit, Michigan, 48204
3    9001 Cascade Road, Kansas City, Missouri, 64102
4            5853 Leon Street, Tampa, Florida, 33605